:root {
  --f-bold: 'PoppinsBold';
  --f-reg: 'PoppinsRegular';
  --f-light: 'PoppinsLight';

  --c-alabaster: #FCFCFC;
  --c-slate-gray: #677B8F;
  --c-silver-sand: #BDC3C7;
  --c-athens-gray: #F3F4F7;
  --c-midnight: #012345;
  --c-midnight-2: #011C37;
  --c-dodger-blue: #4959FF;
  --c-white: #FFFFFF;
  --c-brilliant-rose: #F84AB3;

  --c-blue: #1100F0;
  --c-gull-gray: #99A7B5;

  --c-san-juan: rgba(52, 79, 106, 0.32);
  --c-blue-charcoal: rgba(0, 7, 14, 0.32);
}
