:root {
  --f-bold: 'PoppinsBold';
  --f-reg: 'PoppinsRegular';
  --f-light: 'PoppinsLight';

  --c-alabaster: #FCFCFC;
  --c-slate-gray: #677B8F;
  --c-athens-gray: #F3F4F7;
  --c-midnight: #012345;
  --c-dodger-blue: #4959FF;
  --c-white: #FFFFFF;
  --c-brilliant-rose: #F84AB3;
}
